/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 10, 2014, 8:30:37 PM
    Author     : micic
*/

.labelColumn {
    width: 120px;
}
.accountEditTable input, .accountEditTable select  {
    width: 160px;
    margin-bottom-top: 3px;
    margin-bottom: 3px;
}
.expiryMonth {
    width: 30px !important;
    float: left;
    margin-right: 5px;
}
.expiryYear {
    width: 60px !important;
    float: left;
    margin-left: 5px;
}